Assets/cards.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cards">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="card">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:int" />
              <xs:element name="cardType">
                <xs:simpleType>
                  <xs:restriction base="xs:int">
                    <xs:minInclusive value="0"/>
                    <xs:maxInclusive value="5"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="name" type="xs:string" />
              <xs:element name="flavourText" type="xs:string" />
              <xs:element name="attack" type="xs:int" />
              <xs:element name="defence" type="xs:int" />
              <xs:element name="speed" type="xs:int" />
              <xs:element name="health" type="xs:int" />
              <xs:element name="salvageValue">
                <xs:simpleType>
                  <xs:restriction base="xs:int">
                    <xs:minInclusive value="0"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>